body{
  background-color: #011378fa;;
}
.contactLict {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: 0 auto;
  padding-inline-start: 0;
}

.contactLictItem {
  list-style-type: none;
  margin-top: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  color:#fff;
}

.btnDel {
  padding: 5px 20px;
  border-radius: 5px;
  background-color: rgb(247, 223, 46);
  color: #000;
}

.btnDel:hover,
.btnDel:focus {
  transform: scale(1.05);
  background-color: rgb(245, 35, 20);
}
